{% assign roles = page.credentials.size %}
<style>
.credentials p {
	font-family:'Quicksand';
	font-weight:400;
}
.credentials p span {
	font-weight:300;
}
</style>
<div class='credentials'>
{% for i in (0..roles) %}
	{% assign role = page.credentials[i].role %}
	{% if role == 'collaborators'%}
	<h2>Artistic Collaborators</h2>
	{% elsif role == 'voices' %}
	<h2>Voices by</h2>
	{% elsif role == 'performers' %}
	<h2>Performers</h2>
	{% elsif role == 'thanks' %}
	<h2>Many Thanks to</h2>
	{% endif %}
	{% assign personArray = page.credentials[i].people %}
		{% for person in personArray %}
			{% if person contains "|" %}
			{% capture name %}{{person | split:"|" | first}}{% endcapture %}
			{% capture role %}{{person | split:"|" | last}}{% endcapture %}
			<p>{{name}}/<span>{{role}}</span></p>
			{% else %}
			<p>{{person}}</p>
			{% endif %}
		{% endfor %}
{% endfor %}
</div>
