{% if page.collaborators %}
<div class='col4'>
	<h3>Artistic Collaborators</h3>
	{% for person in page.collaborators %}
		{% if person contains "|" %}
		{% capture name %}{{person | split:"|" | first}}{% endcapture %}
		{% capture role %}{{person | split:"|" | last}}{% endcapture %}
		<p>{{name}}<p>
		<p class='role'>{{role}}</p>
		{% else %}
		<p>{{person}}</p>
		{% endif %}
	{% endfor %}
</div>
{% endif %}

{% if page.voices %}
<div class='col4 margin0'>
	<h3>Voices by</h3>
	{% for person in page.voices %}
		{% if person contains "|" %}
		{% capture name %}{{person | split:"|" | first}}{% endcapture %}
		{% capture role %}{{person | split:"|" | last}}{% endcapture %}
		<p>{{name}}</p>
		<p class='role'>{{role}}</p>
		{% else %}
		<p>{{person}}</p>
		{% endif %}
	{% endfor %}
</div>
{% endif %}

{% if page.performers %}
<div class='col3'>
	<h3>Performers</h3>
	{% for person in page.performers %}
		{% if person contains "|" %}
		{% capture name %}{{person | split:"|" | first}}{% endcapture %}
		{% capture role %}{{person | split:"|" | last}}{% endcapture %}
		<p>{{name}}<p>
		<p class='role'>{{role}}</p>
		{% else %}
		<p>{{person}}</p>
		{% endif %}
	{% endfor %}
</div>
{% endif %}
{% if page.thanks %}
<div class='col3 margin0 thanks'>
	<h3>Many thanks to</h3>
	{% for person in page.thanks %}
		{% if person contains "|" %}
		{% capture name %}{{person | split:"|" | first}}{% endcapture %}
		{% capture role %}{{person | split:"|" | last}}{% endcapture %}
		<p>{{name}}<p>
		<p class='role'>{{role}}</p>
		{% else %}
		<p>{{person}}</p>
		{% endif %}
	{% endfor %}
</div>
{% endif %}
