<a href='{{site.baseurl}}/' class='logo banished'></a>
<ul class='social'>
  <li><a href='{{site.baseurl}}/about' class='about'>About</a>
  <li><a href='https://www.facebook.com/banishedproductions' target='_blank' class='icon facebook transition'></a></li>
  <li><a href='https://twitter.com/banishedpdtns' target='_blank' class='icon twitter transition'></a></li>
  <li><a href='http://vimeo.com/user1744259' target='_blank' class='icon vimeo transition'></a></li>
  <li><a href='http://www.flickr.com/photos/60776064@N02/sets/' target='_blank' class='icon flickr transition'></a></li>
</ul>
<ul class='connect'>
  <li class='featured'>
    <h3>What's happening</h3>
    <div class='col12 divider'></div>
    <!-- getting the most recent featured post -->
    <div>
    {% for post in site.categories.featured limit:1 %}
      {{post.content | markdownify}}
    {% endfor %}
    </div>
  </li>
  <li class='mailchimp'>
    <h3>Hear from us</h3>
    <div class='col12 divider'></div>
    <div class='mailchip-form'>{% include mailchimp.html%}</div>
  </li>
  <li class='donate'>
    <a href='http://www.razoo.com/story/Banished-Productions'>
    Support. Give. Play.
    </a>
  </li>
</ul>
