<style>
.thanks p {
	font-family:'Quicksand';
	font-weight:400;
	padding:0;
	margin:0;
}
.thanks p span {
	font-weight:300;
}
</style>
<div class='col3 margin0 thanks'>
	{% if page.thanks %}
	<h3>Many thanks to</h3>
	{% for person in page.thanks %}
		{% if person contains "|" %}
		{% capture name %}{{person | split:"|" | first}}{% endcapture %}
		{% capture role %}{{person | split:"|" | last}}{% endcapture %}
		<p>{{name}}/<span>{{role}}</span></p>
		{% else %}
		<p>{{person}}</p>
		{% endif %}
	{% endfor %}
	{% endif %}
</div>