/* Quicksand */
@font-face {
    font-family: 'Quicksand';
    src: url('/fonts/quicksand-light-webfont.eot');
    src: url('/fonts/quicksand-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/quicksand-light-webfont.woff') format('woff'),
         url('/fonts/quicksand-light-webfont.ttf') format('truetype'),
         url('/fonts/quicksand-light-webfont.svg#quicksandlight') format('svg');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Quicksand';
    src: url('fonts/quicksand-regular-webfont.eot');
    src: url('fonts/quicksand-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/quicksand-regular-webfont.woff') format('woff'),
         url('fonts/quicksand-regular-webfont.ttf') format('truetype'),
         url('fonts/quicksand-regular-webfont.svg#quicksandregular') format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Quicksand';
    src: url('quicksand-italic-webfont.eot');
    src: url('quicksand-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('quicksand-italic-webfont.woff') format('woff'),
         url('quicksand-italic-webfont.ttf') format('truetype'),
         url('quicksand-italic-webfont.svg#quicksanditalic') format('svg');
    font-weight: 400;
    font-style: italic;
}