 /*Inline Elements & Typography
------------------------------------------------------- */
body,
input,
textarea {
  color:#4d4d4d;
  font:18px/1.67 'Quicksand',Arial,sans-serif;
  font-weight:400;
  -webkit-font-smoothing:antialiased;
  }
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  }
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family:'Ubuntu Titling',sans-serif;
  margin:0;
  font-weight:300;
  }

h1 {
  font-weight:700;
  font-size:32px;
  margin-bottom:20px;
  line-height:1em;
  }

h2 {
  font-size:28px;
  margin-bottom:20px;
  line-height:1.25em;
  }

h3 {
  font-size:22px;
  margin:10px 0;
  line-height:1.5em;
  }

h4, h5 {
  font-size:15px;
  margin:10px 0;
  line-height:1.67em;
  }

p {
  margin:0 0 20px;
  }
  p:last-child { margin-bottom:0;}

/* Links */
a,
a:visited,
a:hover,
a:active {
  color:#ff7d00;
  text-decoration:none;
  }

abbr {
  border-bottom:1px dotted #000;
  cursor:help;
  }

address { font-style:italic;}
small   { font-size:11px;}
strong  { font-weight:bold;}
em      { font-style:italic;}

hr {
  margin:0 0 20px;
  border:0;
  height:1px;
  background:#f8f8f8;
  }

/* Block Quotes */
blockquote,
q {
  quotes:none;
  font-style:italic;
  padding-left:20px;
  margin:10px;
  }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content:'';
  }

/* Code Blocks & Pre */
code,
pre {
  padding:5px;
  font-family:Menlo, Bitstream Vera Sans Mono, Monaco, Consolas, monospace;
  font-size:12px;
  border-radius:3px;
  }
code {
  padding:5px;
  background:#f8f8f8;
  border:1px solid #ddd;
  }
pre {
  display:block;
  padding:10px;
  margin-bottom:10px;
  font-size:12px;
  word-break:break-all;
  word-wrap:break-word;
  white-space:pre;
  white-space:pre-wrap;
  background:#f8f8f8;
  border:1px solid #ddd;
  border-radius:3px;
  }
  pre code {
    padding:0;
    color:inherit;
    background-color:transparent;
    border:0;
    }
.pre-scrollable {
  max-height:300px;
  overflow-y:scroll;
  }

/* sub/superscripts */
sup,
sub {
  height:0;
  line-height:1;
  vertical-align:baseline;
  _vertical-align:bottom;
  position:relative;
  font-size:75%;
  }
sup {
  top:.5em;
  bottom:1em;
  }

label {
  display:block;
  }
select,
textarea,
input[type=text] {
  display:inline-block;
  width:95%;
  max-width:400px;
  font-size:13px;
  font-weight:500;
  line-height:20px;
  color:#a0a0a0;
  vertical-align:middle;
  padding:4px 6px;
  -webkit-border-radius:1px;
          border-radius:1px;
  }
textarea,
input[type=text] {
  background-color:#fff;
  border:1px solid #ccc;
  -webkit-transition:border linear .2s, box-shadow linear .2s;
     -moz-transition:border linear .2s, box-shadow linear .2s;
       -o-transition:border linear .2s, box-shadow linear .2s;
          transition:border linear .2s, box-shadow linear .2s;
  }
  textarea:focus,
  input[type=text]:focus {
    outline:thin dotted\8; /* ie8 below */
    color:#404040;
    border-color:#00395D;
    border-width:1px;
    }

textarea {
  height:200px;
  max-width:none;
  }
input[type=submit] {
  background-color:#ff7d00;
  cursor:pointer;
  color:#fff;
  font-weight:bold;
  text-transform:uppercase;
  border:none;
  padding:9px 12px;
  }
  input[type=submit]:hover {
    background-color:#002f4c;
    }
  input[type=submit]:active {
    position:relative;
    top:1px;
    }

table {
  width:100%;
  background-color:transparent;
  border-collapse:collapse;
  border-spacing:0;
  margin-bottom:20px;
  table-layout:fixed;
  }
  th,
  td {
    padding:4px 0;
    line-height:20px;
    text-align:left;
    vertical-align:top;
    border-bottom:1px solid #d5d5d5;
    }
  th {
    font-weight:bold;
    }
  thead th {
    vertical-align:bottom;
    color:#57594D;
    }
.icon,
.logo{
  background:#fff url(img/sprite.png) no-repeat 0 0;
  display:block;
  width:58px;
  height:60px;
  text-indent:-999em;
  }
/* Layout
------------------------------------------------------- */
/* navigation */
footer .donate,
a.about {
  display:block;
  padding:5px 20px;
  text-align: center;
  border:1px solid #ff7d00;
  color:#ff7d00;
  font-weight:700;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
a.about:hover {
  color:#fff;
  background:#ff7d00;
}
.social li {
    float: left;
    height: 40px;
    display:block;
    margin-right: 46px;
}
.social li:last-child {
    margin:0;    
}
.social li .icon {
  float:left;
  display:block;
  margin-right: 18px;
  width:40px;
  height:40px;
}
.social .icon.facebook {background-position: 0px -708px;}
.social .icon.twitter {background-position:-72px -708px;}
.social .icon.vimeo {background-position:-144px  -708px;}
.social .icon.flickr {background-position:-215px -708px;}

/* big logos */
.logo.banished {
  width:240px;
  height:135px;
}
.logo.tactile {
  background-position:0px -140px;
  width:150px;
  height:300px;
}
.logo.footsteps {
  background-position:-265px -140px;
  width:300px;
  height:210px;
}
.logo.mechaniques {
  background-position:-20px -480px;
  width:310px;
  height:200px;
}
.logo.hybrids {
  background-position:-365px -415px;
  width:300px;
  height:240px;
}
/* small subnav logos on show pages*/
.title .icon {
  position:absolute;
  margin:-48px 0 0 230px;
  opacity:0.75;
}
.title .icon:hover {
  opacity:1;
}
.title .icon.tactile {background-position:-192px -12px;}
.title .icon.footsteps {width:50px;background-position:-238px -12px;}
.title .icon.mechaniques {background-position:-290px -12px;}
.title .icon.hybrids {background-position:-364px -12px;}

/* footer */

/* index.html
------------------------------------------------------- */
ul.front li a p{
  font-family:'Ubuntu Titling',sans-serif;
  padding:20px 2px;
  font-size:28px;
  font-weight:300;
}
/* left */
ul.connect li{
  margin:20px 0;
  padding:0 0 20px 0;
}
ul.connect li:last-child {
  border:0;
}
ul.connect li a,
ul.connect li h3 {
  font-family:'Quicksand',sans-serif;
  font-weight:700;
  font-size:18px;
  color:#ff7d00;
}
.featured p {
  font-size:15px;
}
.featured .kickstarter {
  border:1px solid #ff7d00;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
/*mailchimp*/
#mc_embed_signup form{
  padding:20px;
  border:1px solid #ff7d00;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#mc_embed_signup form ul li {
  margin:20px 0;
}
/* email */
#mc_embed_signup .mc-field-group label {
  margin: 0 0 -35px;
  color:#ff7d00;
  font-size:16px;
}
#mc_embed_signup .mc-field-group input {
  border: 0;
  border-bottom: 1px solid #ff7d00;
  margin-left: 60px;
  padding: 2px 10px;
  width: 73%;
}
/* checkbox */
#mc_embed_signup .mc-field-group.input-group input {
  position: absolute;
  display: block;
  width: auto;
  margin: 13px 0 0 230px;
}
/* show and series
------------------------------------------------------- */
.subtitle {
  font-weight:700;
  /*margin:20px 0;*/
}
.animated img {
  max-width:55%;
}
.series-content ul li {
  margin-bottom:10px;
}
.series-content ul li:before,
.series-content ul li:after {
  content:'«';
  position:absolute;
  display:inline-block;
  margin:0 0 0 -20px;
  color:#ff7d00;
}
.series-content ul li:after {
  content:'»';
  margin:0 0 0 16px;
}
.series-name,
.show-name {
  padding:10px 0;
}
.show-summary,
.archive {
  border-top:1px dotted #d3d3d3;
}
.intro,
.archive p {
  font-family:'Quicksand',sans-serif;
  font-weight:400;
}
.archive-item:first-child {
  padding-top:20px;
}
.archive-item:last-child {
  padding-bottom:20px;
}
.archive-item p.past-summary {
  margin:0;
}
.archive-item .secondary {
  margin:20px 0;
  font-size:15px;
  background:#f6f6f6;
}
#flickr img {
  border:5px solid #fff;
}
#vimeo {
  padding:0 5px;
  width:100%!important;
  height:240px;
}