 /*Inline Elements & Typography
------------------------------------------------------- */
body,
input,
textarea {
  color:#333;
  font:18px/1.67 'Quicksand',Arial,sans-serif;
  font-weight:400;
  -webkit-font-smoothing:antialiased;
  }
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  }
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family:'Bpscript', cursive;
  margin:0;
  font-weight:300;
  }

h1 {
  font-weight:700;
  font-size:32px;
  margin-bottom:20px;
  line-height:1em;
  }

h2 {
  font-size:28px;
  margin-bottom:20px;
  line-height:1.25em;
  }

h3 {
  font-size:22px;
  margin-bottom:20px;
  line-height:1.5em;
  }

h4, h5 {
  font-size:15px;
  margin-bottom:0;
  line-height:1.67em;
  }

p {
  margin:0 0 20px;
  }
  p:last-child { margin-bottom:0;}

/* Links */
a,
a:visited,
a:hover,
a:active {
  color:#ed145a;
  text-decoration:none;
  }

abbr {
  border-bottom:1px dotted #000;
  cursor:help;
  }

address { font-style:italic;}
small   { font-size:11px;}
strong  { font-weight:bold;}
em      { font-style:italic;}

hr {
  margin:0 0 20px;
  border:0;
  height:1px;
  background:#f8f8f8;
  }

/* Block Quotes */
blockquote,
q {
  quotes:none;
  font-style:italic;
  padding-left:20px;
  margin:10px;
  }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content:'';
  }

/* Code Blocks & Pre */
code,
pre {
  padding:5px;
  font-family:Menlo, Bitstream Vera Sans Mono, Monaco, Consolas, monospace;
  font-size:12px;
  border-radius:3px;
  }
code {
  padding:5px;
  background:#f8f8f8;
  border:1px solid #ddd;
  }
pre {
  display:block;
  padding:10px;
  margin-bottom:10px;
  font-size:12px;
  word-break:break-all;
  word-wrap:break-word;
  white-space:pre;
  white-space:pre-wrap;
  background:#f8f8f8;
  border:1px solid #ddd;
  border-radius:3px;
  }
  pre code {
    padding:0;
    color:inherit;
    background-color:transparent;
    border:0;
    }
.pre-scrollable {
  max-height:300px;
  overflow-y:scroll;
  }

/* sub/superscripts */
sup,
sub {
  height:0;
  line-height:1;
  vertical-align:baseline;
  _vertical-align:bottom;
  position:relative;
  font-size:75%;
  }
sup {
  top:.5em;
  bottom:1em;
  }

label {
  display:block;
  }
select,
textarea,
input[type=text] {
  display:inline-block;
  height:30px;
  width:95%;
  max-width:400px;
  margin-bottom:10px;
  font-size:13px;
  font-weight:500;
  line-height:20px;
  color:#a0a0a0;
  vertical-align:middle;
  padding:4px 6px;
  -webkit-border-radius:1px;
          border-radius:1px;
  }
textarea,
input[type=text] {
  background-color:#fff;
  border:1px solid #ccc;
  -webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.1);
     -moz-box-shadow:1px 1px 2px rgba(0,0,0,0.1);
          box-shadow:1px 1px 2px rgba(0,0,0,0.1);
  -webkit-transition:border linear .2s, box-shadow linear .2s;
     -moz-transition:border linear .2s, box-shadow linear .2s;
       -o-transition:border linear .2s, box-shadow linear .2s;
          transition:border linear .2s, box-shadow linear .2s;
  }
  textarea:focus,
  input[type=text]:focus {
    outline:thin dotted\8; /* ie8 below */
    color:#404040;
    border-color:#00395D;
    border-width:1px;
    }

textarea {
  height:200px;
  max-width:none;
  }
input[type=submit] {
  background-color:#00395D;
  cursor:pointer;
  color:#fff;
  font-weight:bold;
  text-transform:uppercase;
  border:none;
  padding:9px 20px;
  -webkit-box-shadow:2px 2px 4px rgba(0,0,0,0.1);
     -moz-box-shadow:2px 2px 4px rgba(0,0,0,0.1);
          box-shadow:2px 2px 4px rgba(0,0,0,0.1);
  }
  input[type=submit]:hover {
    background-color:#002f4c;
    }
  input[type=submit]:active {
    position:relative;
    top:1px;
    }

table {
  width:100%;
  background-color:transparent;
  border-collapse:collapse;
  border-spacing:0;
  margin-bottom:20px;
  table-layout:fixed;
  }
  th,
  td {
    padding:4px 0;
    line-height:20px;
    text-align:left;
    vertical-align:top;
    border-bottom:1px solid #d5d5d5;
    }
  th {
    font-weight:bold;
    }
  thead th {
    vertical-align:bottom;
    color:#57594D;
    }
.icon,
.logo{
  background:#fff url(img/sprite.png) no-repeat 0 0;
  display:block;
  width:58px;
  height:60px;
  text-indent:-999em;
  }
/* Layout
------------------------------------------------------- */
/* navigation */
nav .about {
  display:block;
  width:150px;
  text-align: center;
  border:1px solid #ed145a;
  color:#ed145a;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
nav .social .icon {
  float:left;
  display:block;
  margin-right:13px;
  width:28px;
  height:28px;
}
nav .social .icon.facebook {background-position: 0px -320px;}
nav .social .icon.twitter {background-position:-50px -320px;}
nav .social .icon.vimeo {background-position:-100px -320px;}
nav .social .icon.flickr {background-position:-150px -320px;}
/* big logos */
.logo.banished {
  width:152px;
  height:76px;
}
.logo.tactile {
  background-position:0px -94px;
  width:90px;
  height:180px;
}
.logo.footsteps {
  background-position:-112px -94px;
  width:110px;
  height:80px;
}
.logo.mechaniques {
  background-position:-264px -94px;
  width:140px;
  height:120px;
}
.logo.wildcard {
  background-position:-428px -100px;
  width:120px;
  height:120px;
}
/* small subnav logos on show pages*/
.title .icon {
  position:absolute;
  margin:-48px 0 0 230px;
  opacity:0.75;
}
.title .icon:hover {
  opacity:1;
}
.title .icon.tactile {background-position:-192px -12px;}
.title .icon.footsteps {width:50px;background-position:-238px -12px;}
.title .icon.mechaniques {background-position:-290px -12px;}
.title .icon.wildcard {background-position:-364px -12px;}
/* footer */
footer {
  margin-top:40px;
  background:#f6f6f6;
}
footer ul li{
  height:50px;
  padding:10px;
  background:#fff;
  color:#d3d3d3;
  margin-right:04.1666%;
}
/* index.html
------------------------------------------------------- */
.tagline {
  position:absolute;
  margin:168px 30%;
  font-family:'Impact label',cursive;
  text-transform:uppercase;
  font-size:22px;
}
.main-outer {
  position:relative;
  padding:40px 0;
}
ul.main {
  border:1px dotted #d3d3d3;
}
ul.main li {
  background:#fff;
}
ul.main li a {
  display:block;
  padding-left:40px;
}
ul.main li:first-child a {
  padding-left:0;
}
ul.main li:first-child {
  margin:-80px -60px 0;
}

ul.main li:nth-child(2){
  margin:-90px 15% 0;
}
ul.main li:nth-child(3){
  margin:130px 1% -80px;
}
ul.main li:nth-child(3) p{
  padding-right:20px;
}
ul.main li:last-child {
  margin:60px -20% -75px;
}
ul.main li a p{
  font-family:'Bpscript';
  padding:20px 2px;
  font-size:28px;
  font-weight:300;
}
ul.main li a:hover p:before,
ul.main li a:hover p:after {
  content: '❛';
  position:absolute;
  display:inline-block;
  margin:0 -15px;
  color:#d3d3d3;
}
ul.main li a:hover p:after {
  position:relative;
  margin-left:2px;
  content:'❜';
}
/* featured */
ul.featured h2 {
  font-weight:700;
  color:#ed145a;
  border-bottom:1px dotted #ed145a;
}
/* show and series
------------------------------------------------------- */
.subtitle {
  font-family:'Impact label';
  font-weight:400;
}
.animated img {
  max-width:55%;
}
.series-content ul li {
  margin-bottom:10px;
}
.series-content ul li:before,
.series-content ul li:after {
  content:'«';
  position:absolute;
  display:inline-block;
  margin:0 0 0 -20px;
  color:#ed145a;
}
.series-content ul li:after {
  content:'»';
  margin:0 0 0 16px;
}
.series-name,
.show-name {
  padding:10px 0;
}
.show-name,
.show-summary,
.archive {
  border-bottom:1px dotted #d3d3d3;
}
.intro,
.archive p {
  font-family:'Quicksand',sans-serif;
  font-weight:400;
}
.archive-item:first-child {
  padding-top:20px;
}
.archive-item:last-child {
  padding-bottom:20px;
}
.archive-item p.past-summary {
  margin:0;
}
.archive-item .secondary {
  margin:20px 0;
  font-size:15px;
  background:#f6f6f6;
}
#flickr img {
  border:5px solid #fff;
}
#vimeo {
  padding:0 5px;
  width:100%!important;
  height:240px;
}