---
---
<!DOCTYPE html>
<html>
<style>
footer {
  border-top:3px solid #eee;
}
.sponsors p {
  font-size:14px;
  font-weight:700;
  text-transform:uppercase;
}
.icon.sponsor {
  display:block;
  margin:-20px 20px 0;
  height:90px;
  background-position:-520px 0;
}
.icon.culturaldc {
  width:80px;
}
.icon.dccah {
  width:145px;
  background-position:-380px 0;
}
.icon.tcg {
  width:110px;
  background-position:-270px 0;
}
</style>
<head>
  <title>Banished Productions {% if page.url != '/index.html' %}| {{page.title}}{% endif %}</title>
  <meta charset='UTF-8'/>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <link rel='shortcut icon' href='{{site.baseurl}}/img/favicon.ico' type='image/x-icon' />
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,300italic,400italic|Buenard:400,700|Dawning+of+a+New+Day' rel='stylesheet' type='text/css'>
  <link href='{{site.baseurl}}/site.css' rel='stylesheet' type='text/css'>
  <link href='//api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.css' rel='stylesheet' />
  <!--[if lte IE 8]>
  <link href='//api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.ie.css' rel='stylesheet' />
  <![endif]-->
  <script src='//api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.js'></script>
  <script src='{{site.baseurl}}/site.js'></script>
</head>
<body>
<section class='col12 pad4 cf'>
  <div class='col3 left'>
    {% include left.html %}
  </div>
  <div class='col8 margin0'>
    {% if page.title == 'about'%}
    {% else %}
    {{content}}
    {% endif %}
  </div>
</section>
<footer class='col12 pad4'>
  <a class='col4 cf' href='mailto:info@banishedproductions.org'>&#10066; info@banishedproductions.org</a>
  <div class='sponsors col8'>
    <span class='col4'>&#10066; Supporters of Avant-pop</span>
    <a href='http://www.culturaldc.org/' target='_blank' class='icon sponsor culturaldc col2'></a>
    <a href='http://dcarts.dc.gov/' target='_blank' class='icon sponsor dccah col2'></a>
    <a href='http://www.tcg.org/' target='_blank' class='icon sponsor tcg col2'></a>
  </div>
</footer>
</body>
