---
---
<!DOCTYPE html>
<html>
<head>
  <title>Banished Productions {% if page.url != '/index.html' %}| {{page.title}}{% endif %}</title>
  <meta charset='UTF-8'/>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <link rel='shortcut icon' href='{{site.baseurl}}/img/favicon.ico' type='image/x-icon' />
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,300italic,400italic|Buenard:400,700|Dawning+of+a+New+Day' rel='stylesheet' type='text/css'>
  <link href='{{site.baseurl}}/site.css' rel='stylesheet' type='text/css'>
  <link href='//api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.css' rel='stylesheet' />
  <!--[if lte IE 8]>
  <link href='//api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.ie.css' rel='stylesheet' />
  <![endif]-->
  <script src='//api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.js'></script>
  <script src='{{site.baseurl}}/site.js'></script>
</head>
<body>
<section class='col12 pad4 cf'>
  <div class='col3 left'>
    {% include left.html %}
  </div>
  <div class='col8 margin0'>
    {{content}}
  </div>
</section>
<footer class='col12 pad4 cf'>
<div class='col3 pad2w donate'>
  <a href='https://www.fracturedatlas.org/site/fiscal/profile?id=1989'>
    Support. Give. Play.
  </a>
</div>
<div class='col4 margin1'>
  <ul class='social'>
    <li><a href='https://www.facebook.com/banishedproductions' target='_blank' class='icon facebook transition'></a></li>
    <li><a href='https://twitter.com/banishedpdtns' target='_blank' class='icon twitter transition'></a></li>
    <li><a href='http://vimeo.com/user1744259' target='_blank' class='icon vimeo transition'></a></li>
    <li><a href='http://www.flickr.com/photos/60776064@N02/sets/' target='_blank' class='icon flickr transition'></a></li>
  </ul>
</div>
<div class='col4 sponsors'>
  <div><img class='col3 pad1' src='{{site.baseurl}}/img/sponsors/culturaldc.jpg'></div>
  <div><img class='col3 pad1' src='{{site.baseurl}}/img/sponsors/dccah.png'></div>
  <div><img class='col3 pad1' src='{{site.baseurl}}/img/sponsors/tcg.gif'></div>
</div>
</footer>
</body>
