---
layout: default
---
<style>
.animated img {
	position:absolute;
	top:160px;
	right:40px;
	opacity:0.4;
}
.series-name {
	margin-bottom:10px;
}
ul.series-content {
	position:relative;
}
.series-content li{
	font-size:28px;
	margin-bottom:10px;
}
.series-content li:before {
	padding-right:20px;
	color:#ff7d00;
}
.series-content li:nth-child(2n+1):before {
	content:'▧';
}
.series-content li:nth-child(2n+2):before {
	content:'▥';
}
.series-content li:nth-child(2n+3):before {
	content:'▩';
}
</style>
{% assign downcaseTitle = page.title | downcase %}
<div class='col12 series-name'>
	<h1 class='title'>{{page.name}}</h1>
	<p class='subtitle'>{{page.subtitle | capitalize }}</p>
</div>
<div class='col12 animated'>
	<img src='{{site.baseurl}}/img/animated/{{downcaseTitle}}.gif'>
</div>
<ul class='col12 series-content'>
	{% for post in site.categories[downcaseTitle] reversed %}
		{% if post.name %}
		<li><a href='{{post.url}}'>{{post.name}}</a></li>
		{% else %}
		<li><a href='{{post.url}}'>{{post.title}}</a></li>
		{% endif %}
	{% endfor %}
</ul>