---
layout: default
---
<style>
.show-venue {
	padding-bottom:20px;
}
.hero,
#map {
	overflow:hidden;
	height:250px;
}
.hero img{
	width:100%;
}
#map {
	border:1px solid #d3d3d3;
}
</style>
{% assign show = page.title | downcase %}
<section class='show-name col12'>
	<h1 class='title'><span>{{page.title}}</span><a class='icon {{page.categories}}' href='{{site.baseurl}}/{{page.categories}}'></a></h1>
	<h3 class='subtitle'>{{page.subtitle}}</h3>
</section>
<section class='show-venue col12 cf'>
	{% for post in site.categories.current %}
	{% assign downcaseTitle = post.title | downcase %}
	{% if downcaseTitle contains show %}
	{% assign pageMap = post.map %}
	<div class='col12 pad2w cf'>
		{% if post.map and post.tags contains 'image' %}
		<div class='col8 hero'><img src='{{post.image}}'/></div>
		<div class='col4 pad2' id='map'></div>
		{% else  %}
		<div class='col12 pad2' id='map'></div>
		{% endif %}
	</div>
	<div class='col12 cf'>{{post.content | markdownify}}</div>
	{% endif %}
	{% endfor %}
</section>
<section class='show-summary col12 pad2w cf'>
	<div class='col5 intro'>
		{{content}}
	</div>
	<div class='col6 margin0'>
		<!-- photos -->
		{% if page.flickr %}
		<div id='flickr'></div>
		{% endif %}
		{% if page.hero %}
		{% endif %}
		<!-- videos -->
		{% if page.vimeo %}
		<iframe id='vimeo' src="http://player.vimeo.com/video/{{page.vimeo}}" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
		{% endif %}
	</div>
</section>
<section class='archive'>
	<div class='archive-item col12 cf'>
	{% if page.tags contains 'instructions' %}
		<p class='past-summary'>Interested in recreating the experience?
			<a id='expand' href='#'>Check out the instructions <span>→</span></a>
		</p>
		<div class='secondary col10 pad4 hide'>
			{% for post in site.categories.instructions %}
			{% assign downcaseTitle = post.title | downcase %}
			{% if downcaseTitle contains show %}
			{{post.content | markdownify}}
			{% endif %}
			{% endfor %}
		</div>
	{% endif %}
	</div>
	<div class='archive-item col12 cf'>
	{% if page.tags contains 'archive' %}
		<p class='past-summary'>This is a past event.
			<a id='expand' href='#'>See archived show information <span>→</span></a>
		</p>
		<div class='secondary col10 pad4 hide'>
			{% for post in site.posts.archive %}
			{% assign downcaseTitle = post.title | downcase %}
			{% if downcaseTitle contains show %}
			{{post.content | markdownify}}
			{% endif %}
			{% endfor %}
		</div>
	{% endif %}
	</div>
</section>
<section class='credentials col12 pad2w cf'>
	{% include credentials.html %}
	{% if page.thanks %}
		{% include thanks.html %}
	{% endif %}
</section>
<script>
{% if page.flickr %}
	{% include js/photos.js %}
{% endif %}
loadMap("{{pageMap}}");
</script>