---
layout: default
---
{% assign show = page.title | downcase %}
<section class='show-name col12 cf'>
	<div class='col8 titles'>
		{% if page.name %}
		<h1 class='title'>{{page.name}}</h1>
		{% else %}
		<h1 class='title'>{{page.title}}</h1>
		{% endif %}
		<p class='subtitle'>{{page.subtitle}}</p>
	</div>
	<ul class='subnav fr'>
		<li>
			<a class='icon tactile {% if page.categories contains "tactile" %}active{% endif%}' href='{{site.baseurl}}/tactile'></a>
		</li>
		<li>
			<a class='icon mechaniques {% if page.categories contains "mechaniques" %}active{% endif%}' href='{{site.baseurl}}/mechaniques'></a>
		</li>
		<li>
			<a class='icon footsteps {% if page.categories contains "footsteps" %}active{% endif%}' href='{{site.baseurl}}/footsteps'></a>
		</li>
		<li>
			<a class='icon hybrids {% if page.categories contains "hybrids" %}active{% endif%}' href='{{site.baseurl}}/hybrids'></a>
		</li>
	</ul>
</section>
{% if page.tags contains 'current' %}
<section class='show-venue col12 cf'>
	{% for post in site.categories.current %}
	{% assign downcaseTitle = post.title | downcase %}
	{% if downcaseTitle contains show %}
	{% assign pageMap = post.map %}
	<div class='col12 pad2w cf'>
		{% if post.map and post.tags contains 'image' %}
		<div class='col8 hero'><img src='{{post.image}}'/></div>
		<div class='col4 pad2' id='map'></div>
		{% else  %}
		<div class='col12 pad2' id='map'></div>
		{% endif %}
	</div>
	<div class='col12 cf'>{{post.content | markdownify}}</div>
	{% endif %}
	{% endfor %}
</section>
{% endif %}
<section class='show-summary col12 pad2w cf'>
	{% if page.flickr or page.vimeo %}
	<div class='col5 intro'>
		{{content}}
	</div>
	<div class='col7'>
		<!-- photos -->
		{% if page.flickr %}
		<div id='flickr'></div>
		{% endif %}
		<!-- videos -->
		{% if page.vimeo %}
		<iframe id='vimeo' src="http://player.vimeo.com/video/{{page.vimeo}}" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
		{% endif %}
	</div>
	{% else %}
		<div class='col12 intro'>
		{{content}}
	</div>
	{% endif %}
</section>
<section class='archive'>
	{% if page.tags contains 'instructions' %}
	<div class='archive-item col12 cf'>
		<p class='past-summary'>
			<a class='expand' href='#'>More about the experience <span>→</span></a>
		</p>
		<div class='secondary col10 pad4 hide'>
			{% for post in site.categories.instructions %}
			{% assign downcaseTitle = post.title | downcase %}
			{% if downcaseTitle contains show %}
			{{post.content | markdownify}}
			{% endif %}
			{% endfor %}
		</div>
	</div>
	{% endif %}
	{% if page.tags contains 'archive' %}
	<div class='archive-item col12 cf'>
		<p class='past-summary'>This is a past event.
			<a class='expand' href='#'>See archived show information <span>→</span></a>
		</p>
		<div class='secondary col10 pad4 hide'>
			{% for post in site.categories.archive %}
			{% assign downcaseTitle = post.title | downcase %}
			{% if downcaseTitle contains show %}
			{{post.content | markdownify}}
			{% endif %}
			{% endfor %}
		</div>
	</div>
	{% endif %}
</section>
<section class='credentials col12 pad2w cf'>
	{% include credentials.html %}
</section>
<script>
{% if page.flickr %}
	{% include js/photos.js %}
{% endif %}
{% if page.tags contains 'current' %}
loadMap("{{pageMap}}");
{% endif %}
var archiveLeng = $('.archive-item').size();
if (archiveLeng > 0) {
	$('.archive').addClass('multi-items')
};
</script>